
*{
    box-sizing: border-box;
}
/*Body styling*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
/*Container margin*/
.container{
    margin: 0 auto;
    padding: 3rem;
}
/*headings*/
h1,h2{
    text-align: center;
    font-size:2rem;
}

/*header styling*/
header{
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
}
/*Information styling*/
.Informazionipersonali, .Istruzione, .Hardskill, .Softskill{
    margin-bottom: 1rem;
}

ul{
    list-style: none;
    padding: 0;
}

/* social media icons styling */
.social-icons {
    font-size: 1.5rem;
    cursor: pointer;
}
.social-icons li{
    display: inline;
}
.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin-in:hover, .fa-artstation:hover {
   color: blue;
}
.fa-brands {
    color: #000000;
    margin:0;
}

/*hard and soft skills styling*/
.contenuto{
    background-color: #ddd; 
  }

  .skills {
    text-align: right;  
    color: white; 
  }
  .testo {
    text-align: left;  
    color: #000000; 
  }
  /*gradient styling*/
  .html, .Github, .creatività, .obiettivi, .ascoltare {width: 90%; background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
  .css, .Blender, .ue4, .inglese, .work, .solving, .resistenza, .rapporti{width: 80%; background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
  .Cplusplus{width:50%; background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
  .python{width:30%; background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
  .photoshop, .figma, .autonomia, .dettagli{width:100%; background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
/* footer styling */
footer {
    background-color: #000000;
    text-align: center;
    margin-top: 1rem;
    color: white;
    padding: 0.5rem;
}

footer p{
    font-weight: bold;
    font-size: 1rem;
}
/*media*/
@media screen and (max-width:960px){
    .container{
        margin: 0 auto;
        padding: 2rem;
        line-height: 1.2;
    }
    .fa-brands{
        color: blue;
    }
    
    }

    @media screen and (max-width:460px){
        .fa-brands{
            color: blue;
            padding: 0 0.5rem;
        }

        h1,h2, .social-icons{
            font-size: 1.5rem;
        }
        ul{
            font-size: 1rem;
        }

        footer p{
            font-size: 0.8rem;
        }
        }
    
        @media screen and (max-width:360px){
            .container{
                margin: 0 auto;
                padding: 1rem;
                line-height: 1.2;
            }
            .fa-brands{
                color: blue;
            }
            
            h1,h2, .social-icons{
                font-size: 1rem;
            }
            ul{
                font-size: 0.8rem;
            }
    
            footer p{
                font-size: 0.7rem;
            }
            }