@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
/*Body styling*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    line-height: 1.5;
    background-color: #000000;
    color: #1c1c1c;
}

/*Container margin*/
.container{
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    height: auto;
}

main {
    display: flex;
    justify-content: space-around;
}
/*header styling*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.header h1{
    color: white;
    font-weight: 400;
    font-size: 4em;
}

.personal-info p {
 margin-left: 10%;
 font-size: 0.8em;
}

.education p {
    text-align: center;
    font-size: 1em;
}
img{
max-width: 120px;
height: auto;
border-radius: 50%;
margin-top: 10%;
margin-left: 20%;
}


/* social media icons styling */
.social-icons {
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.social-icons li{
    display: inline-block;
    padding: 0 5px;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-artstation:hover, .fa-github:hover {
   color: #00fff2;
}
.fa-brands {
    color: #000000;
    margin:0;
}
/*skills styling*/
.skills, .hobby{
    margin-top: 4rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skills ul, .hobby ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li, .hobby li{
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
/*Education styling*/

 h2{
    margin-top: 1em;
    font-size: 2em;
   text-align: center;
}

 h3{
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}

 .biography p{
    font-size: 1em;
    margin: 2em;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    color:#000000;
    margin-top: 10rem;
    
}

.left {
max-width: 1000px;
background-color: rgb(132, 189, 243);
height: auto;
}
.right {
    max-width: 600px;
    background-color: #eee;
    height: auto;
    }
/*Media*/
@media screen and (max-width: 992px){

    .container {
        max-width: 800px;
        display: flex;
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }

    img{
        margin-left: 40%;
    }
    .personal-info p {
        margin-left: 10em;
        font-size: 1.5em;
    }

    .education p {
        font-size: 1.5em;
    }

    .biography p {
        font-size: 1.5em;
    }

    .social-icons {
        font-size: 2em;
    }

    h2 {
        font-size: 3em;
    }

    .skills li, .hobby li {
        font-size: 1.5em;
    }
    .left, .right {
        max-width: 900px;
        
    }

    footer p{
        font-size: 1.2em;
    }
}
@media screen and (max-width:576px){
    .header h1{
        color: white;
        font-weight: 400;
        font-size: 2.5em;
    }
    main {
        flex-direction: column;
    }

    .left, .right {
        max-width: 300px;
        margin: 0 auto;
        
    }
    img{
        max-width: 100px;
        margin-left: 35%;
    }
    .personal-info p {
        margin-left: 3em;
        font-size: 1em;
    }

    .social-icons {
        font-size: 1.5em;
    }

    .education p {
        font-size: 1em;
    }

    .biography p {
        font-size: 1em;
    }

    .skills li, .hobby li{
       margin-left: 10%;
       font-size: 1em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    }
    footer p{
        font-size: 0.6em;
    }
}

