@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
/*Body styling*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    line-height: 1.5;
    background-color: #000000;
    color: #1c1c1c;
    font-size: 2em;
}

/*Container margin*/
.container{
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #eee;
    box-shadow: 0 15px 15px 0 #00fff2;
}
/*header styling*/
.header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header h1{
    font-size: 3em;
    font-weight: bold;
}

.header img{
max-width: 150px;
height: auto;
margin-right: 2rem;
border-radius: 50%;
}

.header span{
    font-weight: bold;
}
/*personal-info e biography*/
.personal-info h2, .biography h2{
    font-size: 1.5em;
    margin:0;
}
/* social media icons styling */
.social-icons {
    font-size: 1.5em;
    cursor: pointer;
}
.social-icons li{
    display: inline-block;
    padding: 0 15px;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-artstation:hover, .fa-github:hover {
   color: #00fff2;
}
.fa-brands {
    color: #000000;
    margin:0;
}
/*skills styling*/

.skills, .hobby{
    margin-bottom: 2em;
}

.skills h2, .hobby h2{
    font-size: 1.5em;
    margin: 0 0 1rem;
}

.skills ul, .hobby ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li, .hobby li{
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    background-color: #000000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
/*Education styling*/
.education{
    margin-bottom: 2em;
}

 .education h2{
    font-size: 2.5em;
    margin: 0 0 1rem;
}

 .diploma h3{
    font-size: 1.5em;;
    margin: 0 0 0.5rem;
}

.education .diploma p{
    margin: 0;
}
/*Media*/
@media screen and (max-width: 992px){
    .header h1{
        font-size: 2em;
    }


    .social-icons {
        font-size: 1.5em;
    }
  

    .education h2, .skills h2, .personal-info h2, .hobby h2, .biography h2{
        font-size: 1.5em;
        margin: 0 0 1rem;
    }

    .biography h2{
        line-height: 1.2;
    }
    
    .education .diploma h3{
        font-size: 1.8rem;
        margin: 0 0 0.5rem;
    }

}
@media screen and (max-width:576px){
    .header h1{
        font-size: 1em;
    }
    .education h2, .skills h2, .personal-info h2, .hobby h2, .biography h2{
        font-size:0.8em;
        margin: 0 0 1rem;
    }

    .biography h2{
        line-height: 1.2;
    }
    
    .education .diploma h3{
        font-size: 0.8em;
        margin: 0 0 0.5rem;
    }
   p {
    font-size: 0.5em;
   }

   .social-icons {
    font-size: 0.8em;
   }

   .skills li, .hobby li {
    font-size: 0.5em;
   }
}

